@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #fdcc00;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.is-input {
  @apply top-0 scale-75 opacity-100 -left-1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  @apply transition-all duration-300 bg-white dark:bg-dark dark:text-brand-light;
}

.active-sidebar {
  @apply text-brand before:absolute before:ltr:right-0 rtl:left-0 before:bg-brand before:h-[3px] before:transition-all before:duration-300 before:bottom-2 before:w-full ltr:before:left-0 rtl:before:right-0 before:right-auto;
}

.filepond--credits {
  @apply hidden
}

.mapsStyle {
  @apply w-full h-full
}

.slick-dots {
  @apply absolute bottom-3 flex justify-center w-full !important
}

.reward-item-list {
  -webkit-clip-path: polygon(75% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(75% 0, 100% 0%, 100% 100%, 0% 100%);
}

.slick-dots {
  @apply top-full
}
